@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,600;0,800;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn{
  background-color: #202d36;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  border: 1px solid #202d36;
  border-radius: 4px;
  transition: background-color 0.2s;
}
.btn:hover{
  background-color: #fff;
  color: #202d36;
}

.btn-light{
  background-color: #2b3743;
  border: 2px solid #2b3743;
}

body {
  font-family: "Nunito Sans", sans-serif;
  /* padding: 20px; */
  background-color: #202d36;
  color: #fff;
}
body.light-theme{
  background-color: #dfdfdf;
  color: hsl(200,15%,8%);
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2b3743;
  padding: 10px 20px;
}

header.light-theme{
  background-color: hsl(0,0%,98%);
  color: hsl(200,15%,8%);
}
/* Filter */
.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  padding: 20px;
}
.filter .form-control {
  width: 100%;
}

.filter .form-control input {
  background-color: #2b3743;
  border: none;
  outline: none;
  padding: 12px;
  border-radius: 5px;
  color: #fff;
  font-family: inherit;
  letter-spacing: 0.5px;
  width: 100%;
}

.filter .form-control input::placeholder {
  color: #fff;
}

.filter .region-filter .select {
  background-color: #2b3743;
  color: #fff;
  font-family: inherit;
  padding: 12px;
  width: 200px;
  border: none;
  border-radius: 5px;
  margin: 12px 0;
}

.form input.light-theme, .form select.light-theme {
  background-color: hsl(0,0%,52%);
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding: 20px;
}
.grid .details {
  background-color: #2b3743;
  padding: 40px 20px;
  margin-top: -20px;
  border-radius: 0 0 5px 5px;
  transition: background-color 0.4s;
}

.grid .details.light-theme {
  background-color: hsl(0,0%,98%);
  color: hsl(200,15%,8%);
}
.grid article img {
  border-radius: 5px 5px 0 0;
  /* height: 250px; */
}
.grid .details h3 {
  padding-bottom: 10px;
}
.grid .details h4 {
  padding-bottom: 5px;
}
.grid .details h4 span {
  font-weight: 300;
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .filter {
    flex-direction: row;
    justify-content: space-between;
  }
  .filter .form-control {
    width: auto;
  }
  .filter .form-control input {
    width: auto;
    margin: 0;
  }
  .filter .region-filter {
    width: auto;
  }
}

@media (min-width: 992px) {
  .header,
  .filter,
  .grid {
    padding: 20px 100px;
  }
  .grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
  }
}
